.switch-box {
    display: none !important;
}

.modal {
    background-color: #7a79797e;
}

.button {
    background-color: #fdb819;
    color: white;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.button:hover {
    background-color: #f5a70a;
}

.login {
    margin-top: 200px;
    margin-bottom: 100px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.services img{
    width: 100%;
    height: 200px;
}